@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Golf Statistics Application</h1>
    <p class="lead">The Golf Stats App tracks statistics of golf and helps you improve.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enter rounds</h2>
        <p>
            Enter data for each hole, such as fairway and greens in regulation, putts, sand saves, and more.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compute Statistics for each round</h2>
        <p>The application automatically calculates your statistics to compare with the professionals.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Understand your weaknesses to improve your game.</h2>
        <p>Focus your practice on the parts of the game that will make the most difference by understanding your weaknesses.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>